@import url(./header/header.css);
@import url(./main/main.css);
@import url(./footer/footer.css);
@import url(./responsive/responsive.css);
@import url(./animation/animation.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}




