main {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

#mainWho {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
#mainWho #mainWhoBackground1 {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mainWho #mainWhoBackground1 h1, #mainWho #mainWhoBackground1 p {
  margin: 0px 100px;
}
#mainWho #mainWhoBackground1 h1 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 3em;
  text-transform: uppercase;
}
#mainWho #mainWhoBackground1 p {
  font-size: 1.2em;
  font-weight: 300;
  text-align: justify;
}
#mainWho #mainWhoBackground2 {
  background-color: rgb(204, 204, 204);
  width: 30%;
  display: flex;
  align-items: center;
  margin: 45px;
}
#mainWho #mainWhoBackground2 img {
  width: 450px;
  height: 270px;
  position: relative;
  left: -80px;
}

#mainTeam {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: #F2F4F5;
}
#mainTeam h1 {
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
  padding: 40px 0;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
#mainTeam #mainTeamContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
}
#mainTeam #mainTeamContainer #mainTeamCard {
  width: 250px;
  box-shadow: 0px 19px 10px -13px rgba(0, 0, 0, 0.42);
}
#mainTeam #mainTeamContainer #mainTeamCard #mainTeamCardImg {
  width: 100%;
  background: linear-gradient(to top, black 50%, transparent 50%);
  padding: 20px;
}
#mainTeam #mainTeamContainer #mainTeamCard #mainTeamCardImg img {
  width: 100%;
  border-radius: 50%;
  background-color: black;
  border: 2px white solid;
}
#mainTeam #mainTeamContainer #mainTeamCard #mainTeamCardInfo {
  background-color: black;
  text-align: center;
  color: white;
}
#mainTeam #mainTeamContainer #mainTeamCard #mainTeamCardInfo h2 {
  font-weight: normal;
  font-size: 1.8em;
}
#mainTeam #mainTeamContainer #mainTeamCard #mainTeamCardInfo h3 {
  padding: 10px 0 25px 0;
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
}

#mainTeamInfo {
  width: 100%;
  background-color: white;
}
#mainTeamInfo #mainTeamInfoCard {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#mainTeamInfo #mainTeamInfoCard #mainTeamInfoCardTitle {
  border-bottom: thin rgb(196, 196, 196) solid;
}
#mainTeamInfo #mainTeamInfoCard #mainTeamInfoCardTitle h2 {
  padding: 15px 0 15px 0px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}
#mainTeamInfo #mainTeamInfoCard #mainCardInfoCardDescri {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
#mainTeamInfo #mainTeamInfoCard #mainCardInfoCardDescri p {
  width: 60%;
  font-weight: 300;
  text-align: justify;
  font-size: 1.1em;
}
#mainTeamInfo #mainTeamInfoCard #mainCardInfoCardDescri img {
  width: 250px;
  border-radius: 50%;
}

#mainDifferential {
  width: 100%;
  background-color: #F2F4F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainDifferential h1 {
  text-transform: uppercase;
  margin: 40px;
  font-weight: normal;
  font-size: 3em;
}
#mainDifferential #mainDifferentialInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}
#mainDifferential #mainDifferentialInfo div {
  width: 45%;
}
#mainDifferential #mainDifferentialInfo div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#mainDifferential #mainDifferentialInfo div:nth-child(1) h1 {
  margin: 0 auto;
  padding: 10px 40px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  margin-bottom: -20px;
  z-index: 1;
}
#mainDifferential #mainDifferentialInfo div:nth-child(1) img {
  width: 400px;
}
#mainDifferential #mainDifferentialInfo div:nth-child(2) {
  border: solid 2px black;
  padding: 15px 30px;
}
#mainDifferential #mainDifferentialInfo div:nth-child(2) p {
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}

#mainService {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F6F8F8;
}
#mainService h1 {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 40px;
}
#mainService img {
  width: 80%;
  margin-bottom: 20px;
}
#mainService div {
  background-image: url(../img/service.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 550px;
  width: 90%;
}

#mainDeposition {
  width: 100%;
  background-color: #F2F4F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainDeposition h1 {
  font-weight: normal;
  font-size: 3em;
  text-transform: uppercase;
  margin: 40px 0;
}
#mainDeposition #mainDepositionInfo {
  width: 90%;
  height: 80vh;
  background-image: url(../img/Deposition.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 40px;
}

#whatsapp {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  animation: whatsMove 5s ease infinite;
}
#whatsapp img {
  width: 70px;
}

@keyframes whatsMove {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.8;
  }
}/*# sourceMappingURL=main.css.map */