main{
    width: 100%;
    
    margin: 0 auto;
    max-width: 1920px;
}

#mainWho{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;

    #mainWhoBackground1{
        background-color: white;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1, p{
            margin: 0px 100px;
        }
        h1{
            margin-bottom: 20px;
            font-weight: normal;
            font-size: 3em;
            text-transform: uppercase;
        }

        p{
            font-size: 1.2em;
            font-weight: 300;
            text-align: justify;
        }
    }
    #mainWhoBackground2{
        background-color: rgb(204, 204, 204);
        width: 30%;
        display: flex;
        align-items: center;
        margin: 45px;

        img{
            width: 450px;
            height: 270px;
            position: relative;
            left: -80px;
        }
    }
}

#mainTeam{
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    background-color: #F2F4F5;

    h1{
        font-weight: normal;
        font-size: 2.5em;
        text-align: center;
        padding: 40px 0;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }

    #mainTeamContainer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;
        flex-wrap: wrap;
        #mainTeamCard{
            width: 250px;
            box-shadow: 0px 19px 10px -13px rgba(0,0,0,0.42);

            #mainTeamCardImg{
                width: 100%;
                background: linear-gradient(to top, black 50%, transparent 50%);
                padding: 20px;

                img{
                    width: 100%;
                    border-radius: 50%;
                    background-color: black;
                    border: 2px white solid;
                }

            }
            #mainTeamCardInfo{
                background-color: black;
                text-align: center;
                color: white;

                h2{
                    font-weight: normal;
                    font-size: 1.8em;
                }
                h3{
                    padding: 10px 0 25px 0;
                    font-weight: 300;
                    font-size: 1.2em;
                    text-transform: uppercase;
                }
            }
        }

    }
}

#mainTeamInfo{
    width: 100%;
    background-color: white;
    #mainTeamInfoCard{
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        #mainTeamInfoCardTitle{
            border-bottom: thin rgb(196, 196, 196) solid;
            
            h2{
                padding: 15px 0 15px 0px;
                font-size: 2em;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        #mainCardInfoCardDescri{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 25px 0;

            p{
                width: 60%;
                font-weight: 300;
                text-align: justify;
                font-size: 1.1em;
            }
            img{
                width: 250px;
                border-radius: 50%;
                
            }
        }

    }
    
}

#mainDifferential{
    width: 100%;
    background-color: #F2F4F5;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-transform: uppercase;
        margin: 40px;
        font-weight: normal;
        font-size: 3em;
    }

    #mainDifferentialInfo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 60px;
        div{
            width: 45%;
            
            
            &:nth-child(1){
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1{
                    margin: 0 auto;
                    padding: 10px 40px;                     
                    background-color: black;
                    color: white;
                    font-size: 1.5em;
                    margin-bottom: -20px;
                    z-index: 1;
                }
                img{
                    width: 400px;
                    
                }
            }
            &:nth-child(2){
                border: solid 2px black;
                padding: 15px 30px;
                p{
                    text-align: center;
                    font-size: 1.2em;
                    font-weight: 300;
                }
            }
        }
    }
}

#mainService{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6F8F8;

    h1{
        font-size: 3em;
        font-weight: normal;
        text-transform: uppercase;
        margin: 40px;

    }

    img{
        width: 80%;
        margin-bottom: 20px;
    }
    div{
        background-image: url(/img/service.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 550px;
        width: 90%;
    }
}

#mainDeposition{
    width: 100%;
    background-color: #F2F4F5;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-weight: normal;
        font-size: 3em;
        text-transform: uppercase;
        margin: 40px 0;
    }

    #mainDepositionInfo{
        width: 90%;
        height: 80vh;
        background-image: url(/img/Deposition.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 40px;
    }
}

#whatsapp{
    position: fixed;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    animation: whatsMove 5s ease infinite;
    
    img{
        width: 70px;
    }
}

@keyframes whatsMove{
    0% {scale: 0.8;}
    50% {scale: 1;}
    100% {scale: 0.8;}
}